        }
    
        & button{
            font-size: .2rem;
        }
    
        & #dna_rep{
            font-size: .7rem;
            color: #fff;
            border: solid 1px red;
            background: rgba(245, 18, 18, 0.759);
            padding: 3px;
            border-radius: 10px;
        }

        & #show_ans{
            font-size: .8rem;
        }
    }

}

@media only screen and (max-width: 400px){
    .box{

        width: 90%;
        & input{
            font-size: 1rem;
            
        }
        & h1{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        & p{
            margin-bottom: 1.5rem;
            font-size: 1rem;
        }
    
        & button{
            font-size: .2rem;
        }
    
        & #dna_rep{
            font-size: .7rem;
            color: #fff;
            border: solid 1px red;
            background: rgba(245, 18, 18, 0.759);
            padding: 3px;
            border-radius: 10px;
        }

        & #show_ans{
            font-size: .8rem;
        }
    }
}

